
.newsContainer{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .newsBackground{
      width: 100vw;
      height: 100vh;
      /* background: linear-gradient(#047dae,#e3e6e7 99%);; */
     background: linear-gradient(180deg, #10244D 18.35%, #0896CD 100%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: fixed;
      top: 0;
      overflow-y: hidden;
      -webkit-animation: fadeIn 1 1s ease-out;
      -moz-animation: fadeIn 1 1s ease-out;
      -o-animation: fadeIn 1 1s ease-out;
      animation: fadeIn 1 1s ease-out;
      z-index: -1;
      transition: filter 0.3s ease-in-out;
  }
  
   .blurred{
    filter: blur(5px);
  }
  
  #path{
      position: absolute;
      color: #FBF2F2;
      text-shadow: 0px 0px 5px 0px #FDF7F7;
      font-style: normal;
      font-weight: 100;
      line-height: normal;
      top: 20%;
     left: 15%;
     transform: translate(-50%, -50%);
     font-size: 1rem;
      font-family: 'Press Start 2P'; ;
  }
  
  .search-bar{
    --height:5vw;
    position: absolute;
    top: 22%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: rgba(255,255,255,0.2);
     display: flex;
     align-items: center;
     border-radius: 60px;
     width: 30vw;
     height: var(--height);
  }
  
  .search-bar input{
    background: transparent;
    flex: 1;
    outline: none;
    border: 0;
    font-size:1rem;
    padding-left:3vw;
  }
  
  .search-bar button{
    /* position: absolute; */
    background: transparent;
  }
  
  .search-bar button img{
    /* position: absolute; */
    background: transparent;
  }
  
  #write{
    top: 18%;
    position: absolute;
    right: 5%;
    width: 5vw;
    filter: hue-rotate(180deg);
    transition: transform 0.3s ease;
  }
  
  .new-blog{
    position: absolute;
    right: 3.5%;
    top: 31%;
    font-size: 1.2rem;
    font-family: 'JetBrains Mono';
    z-index: 6;
  }
  
  ::placeholder{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5rem;
  }
  
  .cardContainer{
    position: absolute;
    width: 100vw;
    top:30%;
    background: transparent;
    overflow: auto;
  }
  .cardContainer h2{
    text-align: center;
    color: white;
    margin: 20px 0;
  }
  
  .cards{
  
    width: 100vw;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: auto; */
    /* left: 1%; */
  }
  
  .card-design{
    padding: 2vw;
    flex-basis:20%;
  }
  
  .add-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  
  .footer{
    margin-top: 13vw;
    position: relative;
    top: 100%;
  }
  
  
  /* Animation */
  
  @media (max-width:1425px){
    .new-blog{
      top: 30%;
    }
  }
  
  @media (max-width:1376px){
    .new-blog{
      right: 3%;
    }
  }
  
  @media (max-width:1262px){
    .new-blog{
      top: 29%;
    }
  }
  
  @media (max-width:1222px){
    .new-blog{
      right: 2.5%;
    }
  }
  
  @media (max-width:1200px){
    .search-bar button img{
      width: 3vw;
      left: 20vw;
    }
   }
  
   @media (max-width:1165px){
    .card-design{
      margin: 0px 30px;
    }
  
    .footer{
      margin-top: 17vw;
    }
  }
  
  @media (max-width:1100px){
    .new-blog{
      right: 2%;
    }
  }
  
  @media (max-width:1076px){
    .new-blog{
      font-size: 1.1rem;
      right: 2.5%;
    }
  }
  
  @media (max-width:1023px){
    .new-blog{
      top: 27%;
      right: 2%;
    }
  
    .footer{
      margin-top: 20vw;
    }
  }
  
  @media (max-width:1000px){
    ::placeholder{
      font-size: 1rem;
    }
  }
  
  @media (max-width:980px){
    #path{
      font-size: smaller;
    }
  }
  
  
  @media (max-width:940px){
    .search-bar{
      top:17%;
      flex-direction: row;
      width: 35vw;
      left: 52%;
    }
  
    .footer{
      margin-top: 22vw;
    }
  }
  
  @media (max-width:925px){
    .new-blog{
      right: 1.8%;
    }
  }
  
  @media (max-width:894px){
    .new-blog{
      right: 1.6%;
    } 
  }
  
  @media (max-width:836px){
    #write{
      right: 5.5%;
    }
  }
  
  @media (max-width:830px){
    #path{
      left:18%;
    }
  }
  
  @media (max-width:810px){
    /* .newsContainer{
      width:107vw;
    } */
    
    .newsBackground{
      height: 110vh;
      /* width: 110vw; */
    }
  
    .search-bar{
      width: 37vw;
      left: 54%;
    }
  
    .cards{
      position: relative;
      left: 3.5%;
    }
    
  }
  
  @media (max-width:806px){
    .new-blog{
      top: 26%;
    }
  
    .footer{
      margin-top: 24vw;
    }
  }
  
  @media (max-width:785px){
    .search-bar{
      width:40vw;
    }
  
    .cardContainer h1{
      font-size: 2rem;
    }
    
    .new-blog{
      font-size: 1rem;
      right: 1.8%;
    }
  }
  
  @media (max-width:772px){
    #write{
      right: 5.6%;
    }
  }
  
  @media (max-width:760px){
    .footer{
      margin-top: 26vw;
    }
  }
  
  @media (max-width:711px){
    .new-blog{
      top: 25%;
      font-size: 0.8rem;
      right: 2%;
    }
  
    .footer{
      margin-top: 28vw;
    }
  }
  
  @media (max-width:700px){
    #path{
      font-size: 0.8rem;
    }
  }
  
  @media (max-width:677px){
    #path{
      left: 20%;
    }
  
  
  }
  
  @media (max-width:668px){
    .cards{
      width: 100%;
      left: 0.4%;
    }
  
    .footer{
      margin-top: 30vw;
    }
  }
  
  @media (max-width:654px){
    .search-bar{
      top: 13%;
      width: 45vw;
    }
  }
  
  @media (max-width:630px){
    .footer{
      margin-top: 33vw;
    }
  }
  
  @media (max-width:596px){
    .new-blog{
      right: 1.6%;
    }
  }
  
  @media (max-width:590px){
    .search-bar{
      height:8vw;
    }
    }
  
  @media (max-width:577px){
    #path{
      left: 24%;
    }
    
    .footer{
      margin-top: 37vw;
    }
    
  }
  
  
  @media (max-width:570px){
    .search-bar{
      width: 47vw;
    }
    
  }
  
  @media (max-width:545px){
    .search-bar{
      width: 50vw;
    }
  }
  
  @media (max-width:540px){
    .new-blog{
      top: 24%;
    }
    #write{
      width: 6vw;
    }
  }
  
  
  @media (max-width:517px){
    .search-bar{
      width: 52vw;
    }
  
    .footer{
      margin-top: 41vw;
    }
  }
  
  @media (max-width:500px){
    #path{
      font-family: monospace;
      font-size: 1.4rem;
    }
  
    .search-bar{
      width:65vw;
      height: 9vw;
    }
  
    .card-design{
      padding-bottom: 20px;
    }
  
    #write{
      right: 5.8%;
      width: 7vw;
    }
  }
  
  @media (max-width:486px){
    .newsBackground{
      /* width: 110vw; */
      min-height: 105vh;
    }
  
    .footer{
      margin-top: 43vw;
    }
  }
  
  @media (max-width:461px){
    #path{
      left: 30%;
    }
  
    .footer{
      margin-top: 50vw;
    }
  }
  
  @media (max-width:450px){
    #write{
      right: 5.9%;
    }
  }
  
  @media (max-width:430px){
    #write{
      right: 7%;
    }
  }
  
  @media (max-width:410px){
    #path{
      font-size: 1.3rem;
    }
  
    .footer{
      margin-top: 53vw;
    }
  }
  
  @media (max-width:400px){
    #write{
      right: 8%;
    }
  }
  
  @media (max-width:382px){
    .search-bar{
      width:70vw;
    }
  
    #path{
      left: 30%;
      font-size: 1.2rem;
    }
  
    .footer{
      margin-top: 57vw;
    }
  }
  
  @media (max-width:366px){
    .footer{
      margin-top: 63vw;
    }
  }
  
  @media (max-width:352px){
  
    .search-bar{
      width: 72vw;
      height:11vw;
    }
  
    .search-bar button img{
      width: 4vw;
      left: 23vw;
    }
  
    #write{
      width: 9vw;
      z-index:6;
    }
  }
  
  
  @media (max-width:344px){
    .search-bar{
      width: 77vw;
    }
  
    #path{
      font-size: 1.1rem;
    }
  
    /* .newsContainer{
      width: 110vw;
    } */
  
    .footer{
      margin-top: 67vw;
    }
  
  }
  
  @media (max-width:321px){
    .search-bar{
      width: 79vw;
      height: 12vw;
    }
  
    .footer{
      margin-top: 70vw;
    }
  }
  
  @media (max-width:310px){
    .search-bar{
      width: 81vw;
    }
  
    #path{
      font-size: 1rem;
    }
  
    .footer{
      margin-top: 75vw;
    }
  }
  
  @media (max-width:301px){
    .search-bar{
      width: 83vw;
    }
  }
  
  @media (max-width:295px){
    .search-bar{
      width:85vw;
    }
  
    ::placeholder{
      font-size: 0.8rem;
    }
  
    /* .newsBackground,.newsContainer{
      width:114vw;
    }
     */
  
     .footer{
      margin-top: 78vw;
    }
  }
  
  @media (max-width:286px){
    .search-bar{
      width: 87vw;
    }
  }
  
  
    
    
  
  
  
    
  
  
  
  
  
  
  
  
  